.header {
  width: 100%;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.navbar nav {
  flex: 1;
  text-align: center;
}

.navbar nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  padding: 15px 20px;
  text-transform: uppercase;
}

a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.menu__item {
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
}
