



.main_cart_default{

    @include tablet{

        // width: 900px;
        // background-color: aqua;

    }

    @include mobile {
        
    }
}



.scroll_image{
    height: 200px;
    width: 200px;
    // background-color:wheat;
   margin: 20px;
   @include tablet{

    width: 100%;

}

@include mobile {
    
}

}

.img_scroll_size{
    height: 200px;
    width: 200px;
}



.frame_containt_infor_scroll{
    height: 200px;
    width: 250px;
    background-color: white;
    margin-top: 20px;

    @include tablet{
        width: 100%;
        margin-top: -50px;

    }
    @include mobile {
        width: 100%;
        margin-top: 50px;
        
    }
    
}

.infor_item_scroll {
    font-size: 15px;
    text-align: center;

    @include tablet{
        

    }
    @include mobile {
        margin-left: -30px;
    }
}


.infor_item_scroll1 {
    font-size: 15px;
    text-align: center;
    margin-top: 30%;
    @include tablet{

    }
    @include mobile {
        margin-left: -30px;
    }
}

