


.scroll_image{
    height: 200px;
    width: 200px;
    // background-color:wheat;
   margin: 20px;
}

.img_scroll_size{
    height: 200px;
    width: 200px;
}



.frame_containt_infor_scroll{
    height: 200px;
    width: 250px;
    background-color: white;
    margin-top: 20px;
    
}

.infor_item_scroll {
    font-size: 15px;
    text-align: center;
}


.infor_item_scroll1 {
    font-size: 15px;
    text-align: center;
    margin-top: 30%;
}

