



.img_sigup{
    height: 700px;
    width: 100%;
}

.logo_sigup{
    height:30%;
    width: 30%;

}

.input_Name_sigup{
    height: 30px;
    width: 60%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    font-size: 20px;
    margin-left: 50px;
    padding-left: 20px;
    
}

.input_pass_sigup{
    height: 30px;
    width: 60%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    font-size: 20px;
    margin-left: 100px;
    padding-left: 20px;
    
}

.input_Phone_sigup{
    height: 30px;
    width: 60%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    font-size: 20px;
    margin-left: 60px;
    padding-left: 20px;
    
}

.input_Email_sigup{
    height: 30px;
    width: 60%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    font-size: 20px;
    margin-left: 135px;
    padding-left: 20px;
    
}


.frame_button_sigup{
    text-align: center;
    margin-top: 50px;
}

.button_sigup{
    height: 50px;
    width: 300px;
    border-radius: 30px;
    font-size: 20px;
    color: black;
    background-color: chartreuse;

}