


.frame_profile{
    display: flex;
}

.frame_button_update_proflie{
    margin-top: 10px;
}
.button_update_profile{
    margin-left: 30px;
    border: none;
    background-color: white;
    background-color: white;
    
    


}

.form{
    background-color:white;
    display: flex;
}


.button_edit_profile{
    background-color: white;
    border: none;
}


.frame_button_edit{
    margin-left: 30px;
    margin-top: 50px;
    
}


.frame_button_update_profile{
    margin-top: 10px;
}


.main_frame_input_update_profile{
    display: flex;
}

.frame_content_profile{
    height: 40px;
    width: 600px;
    background-color:white;
    padding-bottom:20px ;
    margin-top: 50px;
    border-bottom: 1px solid black;

    
    
}


.frame_input_profile{
    width: 600px;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    padding-bottom: 20px;
    margin-top: 50px;
    background-color: white;
}

