


.frame_profile{
    display: flex;
}

.frame_button_update_proflie{
    margin-top: 10px;
}
.button_update_profile{
    margin-left: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
   
    
    


}

.form{
    
    display: flex;
 
    
    
}


.button_edit_profile{
    background-color: white;
    border: none;
    cursor: pointer;
}


.frame_button_edit{
    margin-left: 30px;
    margin-top: 50px;
    
}


.frame_button_update_profile{
    margin-top: 10px;
}


.main_frame_input_update_profile{
    display: flex;
    background-color: white;
    @include mobile{
        // margin-top: -10px;
        height: 79px;
        width: 200px;
        
    }
}


.frame_content_profile{
    height: 40px;
    width: 600px;
    background-color:white;
    padding-bottom:20px ;
    margin-top: 50px;
    border-bottom: 1px solid black;


    @include tablet{
        width: 400px;
        // margin-top: 6px;

    }
    @include mobile {
        width: 200px;
        height: 30px;
        margin-left: -30px;


    }

    
    
}


.frame_input_profile{
    width: 600px;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    padding-bottom: 20px;
    margin-top: 50px;
    background-color:white;


    @include tablet{
        width: 400px;
        font-size: 20px;

    }
    @include mobile {
    
        font-size: 10px;
        width: 200px;
        height: 30px;
        margin-left: -30px;

    }
}

.infor_profile{
    margin-top:10px ;
    list-style: none;
    padding-left:20px;
    font-size:20px;


    @include tablet{
        width: 400px;

    }
    @include mobile {
        width: 100%;
        font-size: 10px;

    }
}


