

.footer {
    padding: 70px 0;
    box-shadow: $box-shadow;
    font-size: 1.1rem;
    // background-color: blanchedalmond;

   


    &__about {
       
        @include tablet{
            font-size: 9px;
        }
        @include mobile{
            font-size: 9px;
        }
        
        p {
            margin-bottom: 2rem;
        }
    }

    &__title {
       
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: 600;
        // background-color: blueviolet;
        
        
    }

    

    &__content {
       
        font-size: 12px;
        @include tablet{
            font-size: 10px;
        }
        @include mobile{
            font-size: 10px;
        }
        
        p {
            margin-bottom: 1.25rem;
            // background-color: blue;

            
          
        }
    }
    
    &__title-icons{
        justify-content: center;
        text-align: center;
        
        @include tablet {
            justify-content: center;
            text-align: left;
            margin-left: 27px;   
           
        }
        @include mobile {
            margin-left: 2px;
            margin-top: 40px;      
        }
    }


     &__content-icons{
        justify-content: center;
        margin-top: 5px;
        
        @include tablet {
            font-size: 5px;     
            @include flex(center,flex-start)
            // margin-left: 80px;
            
        }
        @include mobile {
   
            // margin-left: -250px;
            @include flex(center,flex-start)
               
        }

    }


    &__logo{
        height: 38px;
        justify-content: center;
        text-align: center;
        @include tablet {
            justify-content: left;
            text-align: left;
            margin-top: 50px;
            margin-left: -10px;
        }
        @include mobile {
            justify-content: left;
            text-align: left;
            margin-top: 50px;
            margin-left: -10px;

        }
    }

  
    
    &__underline {
        
        margin-top: 50px;
        text-align: center;
        width: 450px;
        justify-self: center;
        font-size: 13px;
        
        p{
            margin-top: 5px;
        }
        hr{
            background-color: grey;
        }
        @include tablet{
            width: 350px;
            justify-content: center;
            text-align: center;
            margin-left: 190px
            
        }
        @include mobile {
            width: 260px;
            justify-content: center;
            text-align: center;
            margin-left: -10px;
            font-size: 9px;
           
            
           
        }

    }
  
      
}