.contents{
    min-height: 200px;
    min-width: 300px;
    background-color: #F3F3F3;
    border-radius: 20px;
    justify-self: center;
    margin-top: -100px;
    
    
    

    @include tablet {
        text-align: center;
        margin-top: -300px;
       
      }
  
      @include mobile {
        text-align: center;
        width: auto;
        margin-top: -450px;
        
       

        

      }

      
}

.Imghome{
  margin-top: 50px;
}
.IMG1{
  width: 50%;
}

.IMG2{
  width: 45%;
}




